.container{
    margin: 50px 0;
}

.card{
    margin: 0 2% !important;
}

.infectados{
    border-bottom: 10px solid rgba(0,0,255,0.5);
}

.recuperados{
    border-bottom: 10px solid rgba(0,255,0,0.5);
}

.mortos{
    border-bottom: 10px solid rgba(255,0,0,0.5);
}

@media (max-width:770px){
    .card{
        margin: 4% 0 !important;
    }
}

.skeleton{
    margin: 90px 0px !important;
}

.grid{
    margin: 0 20px !important;
}